<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10" configfailurepolicy="skip">

    <listeners>
        <listener class-name="runner.NGTestListener" />
    </listeners>

    <test name="Complete test run">
        <classes>
            <class name="runner.TestRunner" />
        </classes>
    </test>

</suite>